*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    color: aliceblue;
}
.container{
    max-width: 1900px;
    height: 100vh;
    background-color: black;
}
.Overview , .main{
    height: 100vh;
    border: solid 1px rgb(190, 173, 173);
}